<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a programmer, currently freelancing, but previously with several small startups and businesses alike. I have a couple years of experience in database development, and more recently have had some experience in the .NET universe, working with ASP.NET applications as well as UNity <br/><br/>
			I hold within a deep desire to create something beautiful, whether it be a single page app, or a game, or maybe a full-scale business site for you.
		</div>
		<br>
	</div>
</div>
